.flex-section{
    width: 100%;
    padding: 80px 0px
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.file-box{
    height: 60vh;
    border: 5px solid rgb(105, 64, 160);
    display: flex;
   justify-content: flex-end;
    align-items: flex-end;    
   }

.box{
    width: 120px;
    height: 120px;
    background: darkblue;
    margin: 10px;
    font-size: 50px;
    color: white;
    text-align: center;
    line-height: 120px;
}

.social-icons{
    text-align: center;
}
.social-icons ul{
    margin: 0;
    padding: 0;    
}
.social-icons ul li{
    margin: 0;
    padding: 0;
}
.social-icons ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
    width: 60px;
    height: 60px;
    background-color: darkblue;
    line-height: 60px;
    border-radius: 20px 0px;
    transition: 0.7s;
}
.social-icons ul li:hover{
    background: rgb(139, 67,0);
    border-radius: 0px 20px;
    transition: 0.7s;
}

.social-icons ul li a{
       
}

.social-icons ul li i{
    color: white;
    font-size: 20px;

}
.social-icons ul li:hover .fa{
    color: yellowgreen;

}
